.DS_Store
./proofs/*
/proofs/
./data/*
__pycache__/
/data/
/data/hai-test2.csv
data/hai-test2.csv
/src/new_func.py
/src/KFLSTMTrainer_ZKP.py
/src/file.txt
/Graph/
test_verification_zkp.ipynb
exp1.txt
exp2.txt
out.pt
out2.pt
*.log
*.lp
*.pyc
*.pdf
*.png
*.json
*.pk
*.vk
*.pf
*.onnx
*.compiled
./results/
documents/*
meliso_old/*
build/*
*.txt
./.idea/
/test.py
/test_mock_lrt.py
!requirements.txt